
//- Zmienne używan póżniej przez kolejne pliki


- var GoogleFonts = 'Wellfleet'

- var jQuery = false

- var PageTitle = 'NODE FTW'

- var MetaDesc = 'Learn Top Speed HTML Development with Jade in This Course'
