//- makes config vars accesible for childs modification
block config
	include config

doctype html
html(lang="pl", class="no-js")
	head
		title
			block title
				| Grace Chambre

		block meta
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
			meta(name='Grace Chambre', content='Tokio tokio umeda pokój kawalerka mieszkanie tanio')

		block js
			//- script(src='../source/js/modernizr.code73.min.js', language="JavaScript", type="text/javascript")
			//- script(src='./js/jquery.js', language="JavaScript", type="text/javascript")
			//- script(src='./js/vendors.js', language="JavaScript", type="text/javascript")
			//- script(src='./js/loading-page.js', language="JavaScript", type="text/javascript")
			//- script(src='./js/velocity.js', language="JavaScript", type="text/javascript")
			//- script(src='./js/velocity.ui.js', language="JavaScript", type="text/javascript")
			script(src='./js/single.js', language="JavaScript", type="text/javascript")

			//- script(src='build/js/single.js')

		block stylesheets
			link(href='css/style.css', rel='stylesheet', type='text/css' )

		block fonts
			//- FONT AWSOME
			link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

			//- SANS
			link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700,100&subset=latin,latin-ext')
			//- link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100')
			//- link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,300italic,400italic,600,700&subset=latin,latin-ext')
			//- link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Muli:400,400italic,300italic,300')
			//- link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
			//- link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext')
			//- link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700&subset=latin,latin-ext')
			//- link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=PT+Sans:400,700italic,400italic,700&subset=latin,latin-ext')
			//- link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,latin-ext')
			//- link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Pontano+Sans&subset=latin,latin-ext')

			//- SERIF
			//- link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,300italic,300,700italic,700')
			//- link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700&subset=latin,latin-ext')
			//- link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Tienne')
			//- link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Adamina')
			link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=PT+Serif:400,700italic,700,400italic&subset=latin,latin-ext')
			//- link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin,latin-ext')

			//- SCRIPT
			link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Pacifico')

	body
		div(id="container")
			block content
		div(id="loading-page")
			div(class="spiner")
				i(class="fa fa-cog fa-spin")

