extends docwrapper

block content
	figure(role="banner" class="hero bg-hero")
	header
		h1(id="about") Grace Chambre
		nav(role="navigation")
			ul(class="navbar")
				li(class="tab")
					a(href="#about") o nas
				li(class="tab")
					a(href="#home") dom
				li(class="tab")
					a(href="#room") pokój
				li(class="tab")
					a(href="#map") mapa
				li(class="tab")
					a(href="#contact") kontakt

	section(class="remove-border-top no-height")
		article(class="big" role="article")
			p(class="text-3")
				include about.txt

	figure(id="home" class="stripe bg-home")
	section(class="no-height")
		blockquote
			include quote.txt

	div(id="room" class="Video-Container")
		iframe(src="https://www.youtube.com/embed/OlC0uSCISZ0?loop=1&autohide=1&controls=1&showinfo=0&modestbranding=1"
									frameborder="0"
									allowfullscreen
									width="100%"
									height="100%")
	section(id="info" class="height-oversize")
		article(class="third" role="article")
			h3 Pokój
			p(class="text-4")
				include info-a.txt
		article(class="third" role="article")
			h3 Warunki
			p(class="text-4")
				include info-b.txt
		article(class="third" role="article")
			h3 Cena
			p(class="text-4")
				include info-c.txt

	figure(id="map" class="stripe-special bg-map")
	section(class="overflow-bug")
		article(class="half" role="article")
			h3 Umeda
			p(class="text-4 text-5")
				include umeda.txt
		article(class="half" role="article")
			iframe(class="google-maps"
										src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.5057091430167!2d139.8035157!3d35.7629521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188e3a800816cb%3A0x9b81a3f000cba4cf!2s1+Chome-5-1+Umeda%2C+Adachi-ku%2C+T%C5%8Dky%C5%8D-to+123-0851!5e0!3m2!1spl!2sjp!4v1440668540766"
										width="100%"
										height="100%"
										frameborder="0"
										style="border:0"
										allowfullscreen)

	footer(id="contact" role="contentinfo")
		div(class="container")
			h6 Grace Chambre
			p(class="text-6 breakpoint-small")
				include contact-mobile.txt
			div(class="contact-list")
				div(class="tab")
					i(class="fa fa-envelope")
					a(class="link" href="mailto:gracechambre@gmail.com") gracechambre@gmail.com
				div(class="tab")
					i(class="fa fa-twitter-square")
					a(class="link" href="https://twitter.com/gracechambre") Twitter
				div(class="tab")
					i(class="fa fa-facebook-square")
					a(class="link" href="https://www.facebook.com/gracechambre") Facebook
				div(class="tab")
					i(class="fa fa-compass")
					a(class="link" href="https://goo.gl/maps/KOtcB") Tokyo-Adachi-Umeda 1-5-1

		div(class="by")
			p(class="text-by")
				a(class="link-by" href="http://code73.net/") by Code73
