/*
  ========================================
  ~~~~~~~~~~~~~~BASE STYLE~~~~~~~~~~~~~~~
  http://html5reset.org/
  ========================================
  */
  * {
  	margin 	 	: 0;
  	padding 		: 0;
  	border 			: 0;
			// border: 1px pink solid;
}

html,
body {
	// ========================================
	// 	GLOBAL COLOR
	// ========================================
	background-color : @color-pallet-body-11;
	color            : @color-pallet-main-05;

	// ========================================
	// GLOBAL	FONT and TEXT
	// ========================================
	font-family            : 	@font-web-serif, @font-safe-serif-garamond;
	font-weight            : 	300;
	line-height            : 	1.3em;
	-webkit-font-smoothing : 	antialiased;
	text-align             : 	justify;
}

// ========================================
// 	HEADINGS - 1/6
// ========================================
h1 {
	@media @mobile-small {
		font-family:  				@font-web-script;
		.h-common-style;
		font-size      : 	1.8rem;
		line-height    : 	2em;
		padding-top    : 	0.5% ;
		padding-bottom : 	1%;
	}
	@media @mobile {
		font-size      : 	3rem;
		line-height    : 	2.5em;
		padding-top    : 	5% ;
		padding-bottom : 	1%;
	}
	// @media @tablet-small {
	// 	font-size      : 	3rem;
	// 	line-height    : 	2.5em;
	// 	padding-top    : 	5% ;
	// 	padding-bottom : 	1%;
	// }
	@media @tablet {
		font-size      : 	4rem;
		padding-top    : 	3% ;
		padding-bottom : 	0.5%;
	}
	@media @screen-wide {
		font-size      : 	4.5rem;
		padding-top    : 	0.25% ;
		padding-bottom : 	2%;
	}
	@media @screen-large {
		font-size      : 	6rem;
		padding-top    : 	0.25% ;
	}
}

h2, h3, h4, h5 {
	font-family: @font-web-sans, @font-safe-sans-helvetica;
	line-height: 3em;
	.h-common-style;
}

h3 {
	font-size        : 2em;
	letter-spacing   : 2px;
	background-color : @color-pallet-main-11;
	// ========================================
	// 	TO FIX
	// ========================================
	// tu zwyczajnie nie mam pojęcie jak to lepiej rozegrać
	// dalsze problemy z selektorami, jedyn co mogę
	// to nieco nabałaganić :( Nie mam pojęcia jak wyłaćzyc
	// rysowanie górnej lini 1 dziedziczącego nagłówka w artykule
	border-top    : @color-pallet-main-10 1px solid;
	border-bottom : @color-pallet-main-10 1px solid;
	// ––––––––––––––––––––––––––––––––– MEDIA QUERIES
	@media @tablet {
		font-size        : 3em;
		line-height      : 3em;
		background-color : @color-pallet-main-11;
		border-top       : none;
	}
}

h6 {
	@media @mobile-small  {
		font-family    : 			@font-web-script;
		line-height    : 			4rem;
		font-size      : 			2.8rem;
		padding-top    : 			10%;
		padding-bottom : 		 5%;
		.h-common-style;
	}

	@media @mobile 						 {
		padding-top    : 			5%;
	}
	@media @tablet-small  { }
	@media @tablet 						 { }
	@media @screen-small  { }
	@media @screen-wide  	{ }
	@media @screen-large  { font-size      : 			4rem;}
}

.h-common-style {
	font-weight    : 400;
	letter-spacing : 0.25rem; //  1px = 1rem / 16 = 0,0625 rem || 4 * 0,0625rem = 0.25rem
	text-transform : uppercase;
	text-align     : center;
}

// ========================================
// 	TEXT - 1/6 + by
// ========================================
.text-1, .text-2, .text-3, .text-4, .text-5, .text-6 {
	font-family : @font-web-serif, @font-safe-serif-garamond;
	text-indent : 2em;
}

// MAIN TEXT
.text-3 {
	@media @mobile-small {
		padding     : 3% 5%;
		font-size   : 1rem;
		line-height : 1.5rem;
	}
	@media @mobile 						 { }
	@media @tablet-small {
		padding     : 10% 3%;
		font-size   : 1.35em;
		line-height : 2rem;
	}
	@media @tablet 						 { }
	@media @screen-small  { }
	@media @screen-wide  	{ }
	@media @screen-large  {
		font-size   : 1.5rem;
		line-height : 2.25rem;
	}
}

.text-4 {
	@media @mobile-small {
		padding     : 3% 5%;
		font-size   : 1rem;
		line-height : 1.5rem;
		text-indent : 0;
	}
	@media @mobile 						 { }
	@media @tablet-small {
		padding     : 5% 5%;
		font-size   : 1.2rem;
		line-height : 2rem;
	}
	@media @tablet 						 {
		font-size   : 1rem;
		line-height : 1.5rem;
	}
	@media @screen-small  {
		font-size   : 1.1rem;
		line-height : 2rem;
	}
	@media @screen-wide  	{
		font-size   : 1.05rem;
		line-height : 1.7rem;
	}
	@media @screen-large  {
		font-size   : 1.25rem;
		line-height : 2rem;
	}

	@media @tablet-small-ls  {
		font-size   : 1.1rem;
		// line-height : 1.5rem;
	}
	@media @tablet-ls  {
		font-size   : 1.1rem;
		line-height : 1.4rem;
	}
}

.text-5 {
	@media @tablet-small-ls  {
		font-size   : 0.8rem;
		line-height : 1.3rem;
		padding-top : 1%;
	}
}

// FOOTER TEXT
.text-6 {
	font-size   : 1rem;
	text-indent : 0;
	line-height : 2rem;
	padding     : 5%;
	.text-center;
}

.text-by {
	padding-top    : 2rem;
	padding-bottom : 2rem;
	font-size      : 1rem;
	font-weight    : 900;
	font-style     : italic;
	.text-center;
}

// ========================================
// HYPER LINKS
// ========================================
a {
	// text-indent  : 2em;
	text-decoration : none;
	font-family     : @font-web-serif, @font-safe-serif-garamond;
	color           : @color-pallet-main-07;
}

a:hover {
	color           : @color-pallet-main-09;
}
a:focus {
	color           : @color-pallet-main-09;
}

// ========================================
// UTILITES
// ========================================
.text-left 				{ text-align: left; }
.text-right 			{ text-align: right; }
.text-center 		{ text-align: center; }
.pull-left				 {}
.pull-right			 {}
