@import (less) "fonts.less";
@import (less) "colors.less";
@import (less) "media-queries.less";
@import (less) "grid.less";
@import (less) "loading-page.less";
@import (less) "base-style.less";

// ========================================
//~~~~~~~~~~~~~ OOCSS Classes~~~~~~~~~~~~~~
// ========================================
// ========================================
// 		CONTAINER
// ========================================
#container {
	.grid-container ();
}

// ========================================
// 		HEADER
// ========================================
header {
	@media @mobile-small {
		height           : auto;
		background-color : @color-pallet-main-11;
	}
	@media @mobile 						 {
		// height     : 28%;
		min-height : 20rem;
		// overflow:
	}
	@media @tablet-small  { min-height: 17.5rem }
	@media @tablet 						 { min-height: 17.5rem }
	@media @screen-small  { }
	@media @screen-wide  	{ }
	@media @screen-large  { }

	@media @mobile-small-ls {
		height           : auto;
		background-color : @color-pallet-main-11;
	}
	@media @mobile-ls {
		height           : auto;
		background-color : @color-pallet-main-11;
	}
	@media @tablet-small-ls {
		height           : auto;
		background-color : @color-pallet-main-11;
	}
	@media @tablet-ls {
		height           : auto;
		background-color : @color-pallet-main-11;
	}
}

// ========================================
// 		NAVBAR
// ========================================
nav {
	.navbar {
		@media @mobile-small {
			margin         : 0  auto;
			// margin-top  : -1%;
			width          : 100%;
			padding-bottom : 2%;
			margin-top     : 7%;
			border-top     : @color-pallet-main-05 1px solid;
		}
		@media @mobile 			    { margin-top: -2%; padding-bottom:  1%; width: 100%; }
		@media @tablet-small  { border: none; }
		@media @tablet 		     { margin-top: -2%; padding-bottom:  1%; width: 80%; }
		@media @screen-wide 	 { padding-bottom: 0; width: 60%; }
	}

	.tab {
		.tab(20.0%);
		.tab-style;
	}

	.tab(@width) {
		@media @mobile-small {
			width   : 100%;
			padding : 10px;
		}

		@media @tablet-small {
			width   : @width;
			margin  : 0 auto;
		}
	}

	.tab-style {
		@media @mobile-small {
			display        : block;
			font-family    : @font-web-sans, @font-safe-sans-helvetica;
			text-align     : center;
			letter-spacing : 1px;
			font-size      : 1.25rem;
			line-height    : 1rem;
		}
		@media @mobile {
			display : inline-block;
		}
		@media @tablet-small {
			visibility: visible;
			letter-spacing : 1px;
			font-size      : 1.5rem;
		}
		@media @tablet {
			letter-spacing : 2px;
			font-size      : 1.5rem;
		}
		@media @screen-wide {
			letter-spacing : 2px;
			font-size      : 2rem;
			margin-top     : -5%;
		}
		@media @screen-large {
			letter-spacing : 2px;
			font-size      : 2rem;
		}
	}
}

// ========================================
// 		SECTION
// ========================================
.no-height {
	height : auto;
}

.height-oversize {
	@media @mobile-small  { height : auto; }
	@media @mobile 						 { }
	@media @tablet-small  { }
	// @media @tablet 						 { height: 125%; }
	// @media @screen-small  { height: 100%; }
	// @media @screen-wide  	{ height: 130%; }
	// @media @screen-large  { height: 110%; }
	@media @tablet 						 { height: auto; }
	@media @screen-small  { height: auto; }
	@media @screen-wide  	{ height: auto; }
	@media @screen-large  { height: auto; }

	// @media @tablet-small-ls  { height: 200%; }
	// @media @tablet-ls  { height: 130%; }
	//
	@media @tablet-small-ls  { height: auto; }
	@media @tablet-ls 						 { height: auto; }
}

.remove-border-top  {
	border-top: 1px solid @color-pallet-main-05;
}

.overflow-bug {
	// @media @tablet-small  { min-height: 50rem; }
	@media @tablet  { min-height: 50rem; }
}

section {
	.grid-row ();
	// ––––––––––––––––––––––––––––––––– STYLE
	// reszta dziwnego stylowania z : base-style.less - h3
	border-right  : @color-pallet-main-10 1px solid;
	border-left   : @color-pallet-main-10 1px solid;
	border-bottom : @color-pallet-main-10 1px solid;
	// ––––––––––––––––––––––––––––––––– MEDIA QUERIES
	@media @tablet {
		overflow   : hidden;
		border-top : @color-pallet-main-10 1px solid;
	}
}

// ========================================
// GRID
// ========================================
.big {
	.grid-col ( @col-width : 1; @cols-amt : 1; );
	border-right           : none;
}

.half {
	.grid-col ( @col-width : 1; @cols-amt : 2; );
	border-right           : none;
	// ––––––––––––––––––––––––––––––––– MEDIA QUERIES
	@media @tablet {
		border-right: @color-pallet-main-10 1px solid;
		&:nth-of-type(2n) { border-right: none; }
	}
}

.third {
	.grid-col ( @col-width : 1; @cols-amt : 3; );
	border-right           : none;
	 // ––––––––––––––––––––––––––––––––– MEDIA QUERIES
	 @media @tablet {
		border-right: @color-pallet-main-10 1px solid;
	 	&:nth-of-type(3n) { border-right: none; }
	 }
}

article {
	border-right: @color-pallet-main-10 1px solid;
}

// ========================================
// 		BLOCKQUOTE
// ========================================
blockquote {
	@media @mobile-small  {
		padding     : 10% 10%;
		font-style  : italic;
		font-size   : 1rem;
		line-height : 1.5rem;
	}
	@media @mobile 						 { }
	@media @tablet-small  {
		font-size   : 1.35rem;
		line-height : 2rem;
	}
	@media @tablet 						 { }
	@media @screen-small  {
	font-size   : 2rem;
	line-height : 3rem;
	 }
	@media @screen-wide  	{ }
	@media @screen-large  {
		// padding     : 10% 5%;
		font-size   : 2rem;
		line-height : 3rem;
	}
}

// ========================================
// 		FIGURE
// ========================================
figure {
	overflow            : hidden;
	background-repeat   : no-repeat;
	background-position : center;
	// background-size  : 100%;
	background-size     : cover;
}

.stripe {
	height : 80%;
}
.stripe-special {
	width: 100%;
	@media @mobile-small { height : 50%; }
	@media @screen-wide 	{ height : 80%; }
}

.hero {
	@media @mobile-small { height : 100%; }
	@media @mobile 					 { height : 100%; }
	@media @tablet-small { height : 70%; }
	@media @screen-wide  { height : 70%; }

	//LANDSCAPE
	@media @mobile-small-ls { height : 100%; }
	@media @mobile-ls 					 { height : 100%; }
}

.bg-hero {
	border-bottom: 1px solid @color-pallet-main-05;
	background-image: url('/images/hero-tablet.jpg');
	@media @tablet  { background-image: url('/images/hero-large.jpg'); }
}

.bg-home {
	@media @mobile-small 		 { background-image : url('/images/home-tablet.jpg');}
	@media @tablet 	        { background-image : url('/images/home-tablet.jpg');}
	@media @screen-wide	    { background-image : url('/images/home-large.jpg');}
	@media @screen-large 		 { background-image : url('/images/home-large.jpg');}
}

.bg-map {
	@media @mobile-small 		 { background-image : url('/images/map-tablet.jpg');}
	@media @tablet 	        { background-image : url('/images/map-tablet.jpg');}
	@media @screen-wide     { background-image : url('/images/map-large.jpg');}
	@media @screen-large 		 { background-image : url('/images/map-large.jpg');}
}

// ========================================
// 	IFRAMES
// ========================================
// ========================================
// 		Video-Container
// ========================================
.Video-Container  {
	.grid-row ( @width   : @default-row-width;
				  							@height  : 80%;
				  							@margin  : @default-row-margin;
				  							@padding : @default-row-padding; );
	// height: 80%;
	@media @mobile-small     { height: 150px; }
	@media @mobile 						    { height: 365px; }
	@media @tablet-small     { height: 330px; }
	@media @tablet 						    { height: 420px; }
	@media @screen-small     { height: 560px; }
	@media @screen-wide  	   { height: 700px; }
	@media @screen-large     { height: 700px; }

	@media @mobile-small-ls  { height: 250px; }
	@media @mobile-ls 						 { height: 250px; }
}

// ========================================
// 		GOOGLE MAPS
// ========================================
.google-maps {
	@media @mobile-small     { width: 100%; height: 400px; height: 80vh; }
	// @media @mobile 						 { height: 400px;}
	// @media @tablet-small  { height: 500px;}
	@media @tablet			  	     { height: 100%;}

	@media @mobile-small-ls  { height: 250px; height: 80vh; }
	@media @mobile-ls        { height: 250px; height: 80vh; }
}

// ========================================
// 		FOOTER
// ========================================
footer {
	width      : 100%;
	// height     : 98%;
	min-height : 100px;
	// ––––––––––––––––––––––––––––––––– STYLE
	background-color : @color-pallet-main-04;
	color            : @color-pallet-body-11;
	font-size        : 0.65em;

	.container {
		@media @mobile-small {
			width   : 100%;
			margin  : 0 auto;
			padding : 5%;
		}
		@media @mobile {
			width   : 60%;
			padding : 5%;

			// width   : 70%;
			margin  : 0 auto;
			padding-top: 10%;
		}
		@media @tablet {
		width   : 70%;
		margin  : 0 auto;
		padding : 5%;
		padding-top: 10%;
		}

		@media @mobile-small-ls {
			width: 100%;
		}

	}

	.breakpoint-small {
		padding-bottom: 10%;
	}

	.link {
		color       : @color-pallet-main-10;
		display     : inline-block;
		padding-left: 5%;
		font-size   : 1rem;
	}

	.link:hover {
			color           : @color-pallet-main-06;
	}
	.link:focus {
			color           : @color-pallet-main-06;
	}

	.link-by {
		color         : @color-pallet-main-10;
		display       : inline-block;
		padding : 0;
		border-bottom : 1px solid @color-pallet-body-11;
		line-height   : 2rem;
	}

	.link-by:hover {
		color : @color-pallet-main-11;
	}
	.link-by:focus {
		color : @color-pallet-main-11;
	}

	.by {
		background-color : @color-pallet-main-03;
	}

	.fa {
		@media @mobile-small  { }
		@media @mobile 						 { }
		@media @tablet-small  { }
		@media @tablet 						 { padding-left: 10%; }
		@media @screen-small  { padding-left: 25%; }
		@media @screen-wide  	{ }
		@media @screen-large  { padding-left: 30%; }

		@media @mobile-small-ls { padding-left: 20%; }
	}

	.contact-list {
		@media @mobile-small {
			.grid-row ( @padding : 3% 0;  @height : 80%; );
		}
		@media @mobile {
			.grid-row ( @padding : 3% 5%;  @height : 80%; );
		}
		@media @tablet {
			.grid-row ( @padding : 3% 10%;   @height : 80%; );
			}
		@media @screen-small {
			.grid-row ( @padding : 3% 20%; @height : 80%; );
		}
		@media @screen-wide {
			.grid-row ( @padding : 3% 27%; @height : 80%; );
		}

		.tab-style {
			font-family : @font-web-sans, @font-safe-sans-helvetica;
			text-align  : left;
			font-size   : 1rem;
		}

		.tab {
			// .grid-col (
			// 	@col-width  : 1;
			// 	@cols-amt   : 1;
			// 	@min-height : 10%;
			// 	@padding 			: 2%; );

			@media @mobile-small  {
				.tab-style;
				padding-top: 5%;
			}
			@media @mobile 						 { }
			@media @tablet-small  { }
			@media @tablet 						 {
				padding-top: 3%
			}
			@media @screen-small  { }
			@media @screen-wide  	{ }
			@media @screen-large  { }
		}
	}
}
