// ========================================
// 	COLORS
// ========================================
// ========================================
// 		COLOR PALLET
// 		-body -main -contrast -analogus;
// 		-options: a/ b/ c;
//
// 		!!! SUPER IMPORTANT LINK
// 		http://ethanschoonover.com/solarized
//
//
// ========================================
// ========================================
// 		COLOR PICKER
// ========================================
@collor-pallet-main-h 			: 				208;
@collor-pallet-main-s 			: 				48%;
@collor-pallet-main-l 				: 				2.5%;

@collor-pallet-body-h 			: 				24;
@collor-pallet-body-s 			: 				100%;
@collor-pallet-body-l 				: 				-1%;

@collor-pallet-contrast-h 		: 				0;
@collor-pallet-contrast-s 		: 				0%;
@collor-pallet-contrast-l 		: 				0%;

@collor-pallet-analogus-h 	: 				0;
@collor-pallet-analogus-s 	: 				0%;
@collor-pallet-analogus-l 	: 				0%;


// ========================================
// 		COLOR BACKGROUND WHITE
// ========================================

// ??? -> TO DO !!!

// ========================================
// 		COLOR BACKGROUND BLACK
// 		http://www.andrewkelsall.com/the-professional-designers-guide-to-using-black/
// ========================================
@color-black-rgb: 						hsl(0, 0, 0) ;
@color-black-photoshop: 		hsl(20, 42.9%, 2.7%) ;
@color-black-rich: 						hsl(300, 5.3%, 3.7) ;
@color-black-flat: 							hsl(20,180%, 21%) ;
@color-black-designer: 			hsl(20, 42.9%, 7%) ;
@color-black-designer: 			hsl(50, 16.8%, 7.5%) ;

// ========================================
// 		ITTEN’S COLOR CONTRASTS
//		http://printingcode.runemadsen.com/lecture-color/
// ========================================
@color-hsl-lightness-00: 		0.0%;
@color-hsl-lightness-01: 		9.999999%;
@color-hsl-lightness-02: 		12.76518%;
@color-hsl-lightness-03: 		16.294981%;
@color-hsl-lightness-04: 		20.800837%;
@color-hsl-lightness-05: 		26.552643%;
@color-hsl-lightness-06: 		33.894924%;
@color-hsl-lightness-07: 		43.267483%;
@color-hsl-lightness-08: 		55.231724%;
@color-hsl-lightness-09: 		70.50429%;
@color-hsl-lightness-10:		90.0%;
@color-hsl-lightness-11: 		100.0%;

// ========================================
// 		COLOR PALLET GENERATOR
// ========================================
@color-pallet-main-00: 				hsl(208, 48%, @color-hsl-lightness-00 + @collor-pallet-main-l);
@color-pallet-main-01: 				hsl(208, 48%, @color-hsl-lightness-01 + @collor-pallet-main-l);
@color-pallet-main-02: 				hsl(208, 48%, @color-hsl-lightness-02 + @collor-pallet-main-l);
@color-pallet-main-03: 				hsl(208, 48%, @color-hsl-lightness-03 + @collor-pallet-main-l);
@color-pallet-main-04: 				hsl(208, 48%, @color-hsl-lightness-04 + @collor-pallet-main-l);
@color-pallet-main-05: 				hsl(208, 48%, @color-hsl-lightness-05 + @collor-pallet-main-l);
@color-pallet-main-06: 				hsl(208, 48%, @color-hsl-lightness-06 + @collor-pallet-main-l);
@color-pallet-main-07: 				hsl(208, 48%, @color-hsl-lightness-07 + @collor-pallet-main-l);
@color-pallet-main-08: 				hsl(208, 48%, @color-hsl-lightness-08 + @collor-pallet-main-l);
@color-pallet-main-09: 				hsl(208, 48%, @color-hsl-lightness-09 + @collor-pallet-main-l);
@color-pallet-main-10: 				hsl(208, 48%, @color-hsl-lightness-10 + @collor-pallet-main-l);
@color-pallet-main-11: 				hsl(208, 48%, @color-hsl-lightness-11 + @collor-pallet-main-l);

@color-pallet-body-00: 				hsl(24, 100%, @color-hsl-lightness-00 + @collor-pallet-body-l);
@color-pallet-body-01: 				hsl(24, 100%, @color-hsl-lightness-01 + @collor-pallet-body-l);
@color-pallet-body-02: 				hsl(24, 100%, @color-hsl-lightness-02 + @collor-pallet-body-l);
@color-pallet-body-03: 				hsl(24, 100%, @color-hsl-lightness-03 + @collor-pallet-body-l);
@color-pallet-body-04: 				hsl(24, 100%, @color-hsl-lightness-04 + @collor-pallet-body-l);
@color-pallet-body-05: 				hsl(24, 100%, @color-hsl-lightness-05 + @collor-pallet-body-l);
@color-pallet-body-06: 				hsl(24, 100%, @color-hsl-lightness-06 + @collor-pallet-body-l);
@color-pallet-body-07: 				hsl(24, 100%, @color-hsl-lightness-07 + @collor-pallet-body-l);
@color-pallet-body-08: 				hsl(24, 100%, @color-hsl-lightness-08 + @collor-pallet-body-l);
@color-pallet-body-09: 				hsl(24, 100%, @color-hsl-lightness-09 + @collor-pallet-body-l);
@color-pallet-body-10: 				hsl(24, 100%, @color-hsl-lightness-10 + @collor-pallet-body-l);
@color-pallet-body-11: 				hsl(24, 100%, @color-hsl-lightness-11 + @collor-pallet-body-l);

