// ========================================
// WEB FONTS
// ========================================
// ========================================
// 		SANS FONTS
// ========================================
@font-web-sans: 			'Lato';
// @font-web-sans: 			'Raleway';
// @font-web-sans: 			'Josefin Sans';
// @font-web-sans: 			'Muli';
// @font-web-sans: 			'Montserrat';
// @font-web-sans: 			'Oswald';
// @font-web-sans: 			'Oxygen';
// @font-web-sans: 			'PT Sans';
// @font-web-sans: 			'PT Sans Narrow';
// @font-web-sans: 			'Pontano Sans';
// @font-web-sans:			 'Abril Fatface';

// ========================================
// 		SERIF FONTS
// ========================================
// @font-web-serif:	 			'Playfair Display'; // -> lead with lato
// @font-web-serif:	 			'Tienne';
// @font-web-serif:	 			'Merriweather';
// @font-web-serif:	 			'Adamina'; // -> lead with lato, footer
@font-web-serif:	 			'PT Serif';
// @font-web-serif:	 			'Abril Fatface';

// ========================================
// 		SCRIPT FONTS
// ========================================
// @font-web-script: 			'Lobster';
// @font-web-script: 			'Lobster Two';
// @font-web-script: 			'Oleo Script Swash Caps';
// @font-web-script: 			'Oleo Script';
// @font-web-script: 			'Berkshire Swash';
// @font-web-script: 			'Great Vibes';
@font-web-script:	 		'Pacifico';
// @font-web-script: 			'Arizonia';
// @font-web-script: 			'Lato';
// @font-web-script: 			'Lato';

// ========================================
// 		WEB SAFE FONTS STACKS
// 		http://www.cssfontstack.com/
// ========================================
@font-safe-sans-helvetica: 				"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@font-safe-sans-arrial-narrow: 		"Arial Narrow", Arial, sans-serif;
@font-safe-serif-garamond: 			Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
