// ========================================
// GRID
// http://webdesign.tutsplus.com/tutorials/a-simple-mixin-alternative-to-standard-css-grids--webdesign-16958
// ========================================
//
// TO FIX
//
// kiedy w niektóre zmienne wstawiam zera dostaję w cssie "0%'
// trzeba  napisać guarded mixins//
// ========================================

// ========================================
// CONTAINER
// ========================================
@default-container-width   : @toRems * 1280;
@horizontal-to-vertical    : @tablet;
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ROW
@default-row-width         : @toRems * 1280;
@default-row-height        : 100%;
@default-row-margin        : 0 auto; //@toRems *
@default-row-padding       : 0; //@toRems *
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~COLUMN
@default-col-width         : 1;
@default-cols-amt          : 4;
@default-col-min-height    : @toRems * 500;
@default-col-gutter        : 0;   //The @gutter value should be a number intended for use as a percentage value e.g. 2 for a 2% gutter.
@default-col-margin-top    : 0;
@default-col-margin-bottom : 0;
@default-col-padding       : 0; //@toRems *

// ========================================
// GLOBAL LAYOUT
// ========================================
html, body {
    width  : 100%;
    height : 100%;
}

// ========================================
// UTILITIES
// ========================================
@base-px : 16;  // set to the most common base px size used in browsers, should generally be left at default
@toRems  : (1 / @base-px) + 0rem; // allows you to set values as the default px size to target, which is then converted into scalable rem values.
@toEms   : (1 / @base-px) + 0em; // same as above, but with em values

// .rems(@val) {

// }

.clear-fix {
    // clear at the end of container
    &:before,
    &:after {
        content:"";
        display:table;
    }
    &:after {
        clear:both;
    }
}

.IfEdge ( @edge; @gutter; @margin-top; @margin-bottom; ) when (@edge = false) {
    margin: @margin-top @gutter + 0% @margin-bottom 0;
}

.IfEdge ( @edge; @gutter; @margin-top; @margin-bottom; ) when (@edge = true) {
    margin: @margin-top 0 @margin-bottom 0;
}

// ========================================
//  BORDER BOX
//  Handle box-sizing while better addressing child elements:
//  http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
// ========================================
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

// ========================================
//     CORE
//     container, col and row
// ========================================
.grid-container (@width : @default-container-width; ) {
    width     : 100%;
    height    : 100%;
    max-width : @width;
    margin    : 0 auto;
}

.grid-row (
@width   : @default-row-width;
@height  : @default-row-height;
@margin  : @default-row-margin;
@padding : @default-row-padding; ) {

 .clear-fix;

 @media @mobile-small {
  width         : 100%;    //make it full size
  max-width     : @width;  //set px limit
  margin        : @margin auto;
  padding       : @padding;
  // min-height : 100%;
 }
 @media @horizontal-to-vertical {
  height : @height;
 }
}

.grid-col (
@col-width     : @default-col-width;
@cols-amt      : @default-cols-amt;
@min-height    : @default-col-min-height;
@margin-top    : @default-col-margin-top;
@margin-bottom : @default-col-margin-bottom;
@gutter        : @default-col-gutter;
@edge          : false;
@padding       : @default-col-padding; ) {

 @total-gutter    : (@cols-amt - 1) * @gutter;
 @spanned-gutters : (@col-width - 1) * @gutter;

 @media @mobile-small {
  .IfEdge          (@edge; @gutter; @margin-top;@margin-bottom);
  float            : left;
  width            : 100%;
  padding          : @padding;
 }
 @media @horizontal-to-vertical {
  width            : ( @col-width * ( (100 - @total-gutter) / @cols-amt) + @spanned-gutters + 0%);
  height           : 100%;
  min-height       : @min-height;
 }
}


// // ========================================
// // GRID
// // http://webdesign.tutsplus.com/tutorials/a-simple-mixin-alternative-to-standard-css-grids--webdesign-16958
// // ========================================
// //
// // TO FIX
// //
// // kiedy w niektóre zmienne wstawiam zera dostaję w cssie "0%'
// // trzeba  napisać guarded mixins//
// // ========================================

// // ========================================
// // CONTAINER
// // ========================================
// @default-container-width   : @toRems * 1280;
// // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ROW
// @default-row-width         : @toRems * 1280;
// @default-row-height        : 100%;
// @default-row-margin        : 0 auto; //@toRems *
// @default-row-padding       : 0; //@toRems *
// // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~COLUMN
// @default-col-width         : 1;
// @default-cols-amt          : 4;
// @default-col-min-height    : @toRems * 500;
// @default-col-gutter        : 0;   //The @gutter value should be a number intended for use as a percentage value e.g. 2 for a 2% gutter.
// @default-col-margin-top    : 0;
// @default-col-margin-bottom : 0;
// @default-col-padding       : 0; //@toRems *

// // ========================================
// // GLOBAL LAYOUT
// // ========================================
// html, body {
//     width  : 100%;
//     height : 100%;
// }

// // ========================================
// // UTILITIES
// // ========================================
// @base-px : 16;  // set to the most common base px size used in browsers, should generally be left at default
// @toRems  : (1 / @base-px) + 0rem; // allows you to set values as the default px size to target, which is then converted into scalable rem values.
// @toEms   : (1 / @base-px) + 0em; // same as above, but with em values

// // .rems(@val) {

// // }

// .clear-fix {
//     // clear at the end of container
//     &:before,
//     &:after {
//         content:"";
//         display:table;
//     }
//     &:after {
//         clear:both;
//     }
// }

// .IfEdge ( @edge; @gutter; @margin-top; @margin-bottom; ) when (@edge = false) {
//     margin: @margin-top @gutter + 0% @margin-bottom 0;
// }

// .IfEdge ( @edge; @gutter; @margin-top; @margin-bottom; ) when (@edge = true) {
//     margin: @margin-top 0 @margin-bottom 0;
// }

// // ========================================
// //  BORDER BOX
// //  Handle box-sizing while better addressing child elements:
// //  http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
// // ========================================
// html {
//     box-sizing: border-box;
// }
// *,
// *:before,
// *:after {
//     box-sizing: inherit;
// }

// // ========================================
// //     CORE
// //     container, col and row
// // ========================================
// .grid-container (@width : @default-container-width; ) {
//     width     : 100%;
//     height    : 100%;
//     max-width : @width;
//     margin    : 0 auto;
// }

// .grid-row (
// @width   : @default-row-width;
// @height  : @default-row-height;
// @margin  : @default-row-margin;
// @padding : @default-row-padding; ) {
//  .clear-fix;
//  @media @mobile-small {
//   width         : 100%;    //make it full size
//   max-width     : @width;  //set px limit
//   // min-height : 100%;
//   // height     : @height;
//   margin        : @margin auto;
//   padding       : @padding;
//  }
//  @media @tablet {
//   width     : 100%;    //make it full size
//   max-width : @width;  //set px limit
//   height    : @height;
//   margin    : @margin auto;
//   padding   : @padding ;
//  }
// }

// .grid-col (
// @col-width     : @default-col-width;
// @cols-amt      : @default-cols-amt;
// @min-height    : @default-col-min-height;
// @margin-top    : @default-col-margin-top;
// @margin-bottom : @default-col-margin-bottom;
// @gutter        : @default-col-gutter;
// @edge          : false;
// @padding       : @default-col-padding; ) {
//  @media @mobile-small {
//   @total-gutter    : (@cols-amt - 1) * @gutter;
//   @spanned-gutters : (@col-width - 1) * @gutter;
//   // width         : ( @col-width * ( (100 - @total-gutter) / @cols-amt) + @spanned-gutters + 0%);
//   width            : 100%;
//   // height        : 100%;
//   // min-height    : @min-height;
//   .IfEdge          (@edge; @gutter; @margin-top;@margin-bottom);
//   padding          : @padding;
//   float            : left;
//  }
//  @media @tablet {
//   @total-gutter    : (@cols-amt - 1) * @gutter;
//   @spanned-gutters : (@col-width - 1) * @gutter;
//   width            : ( @col-width * ( (100 - @total-gutter) / @cols-amt) + @spanned-gutters + 0%);
//   height           : 100%;
//   min-height       : @min-height;
//   .IfEdge          (@edge; @gutter; @margin-top;@margin-bottom);
//   padding          : @padding;
//   float            : left;
//  }
// }
