// ========================================
// LOADING PAGE
// http://stackoverflow.com/questions/25253391/javascript-loading-screen-while-page-loads
// ========================================
#container {
    display: none;
}

#loading-page {
    display          : block;
    position         : absolute;
    top              : 0;
    left             : 0;
    z-index          : 100;
    width            : 100%;
    height           : 100%;
    min-height       : 100px;
    background-color : @color-pallet-main-05;

    .spiner {
        position   : absolute;
        top        : 40% ; left: 0; bottom: 0; right: 0;
        font-size  : 5rem;
        text-align : center;
        color      : @color-pallet-body-11;
    }
}
