// ========================================
// MEDIA QUERRYS
// http://stackoverflow.com/questions/15837808/fancy-media-queries-with-some-less-magic
// http://stephen.io/mediaqueries/
// https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
// http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/
// bootsrap says: https://github.com/scotch-io/Bootstrap-Media-Query-Breakpoints
// https://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints
// ========================================

// ––––––––––––––––––––––––––––––––– LIMITS
// @mobile-small-min : 	20rem;   // 320 px;
@mobile-small-min : 	1rem;   // 320 px;
@mobile-min       : 	30rem;   // 480 px;
@tablet-small-min :  37.5rem; // 600 px
@tablet-min       : 	48rem;   // 768 px;
@screen-small-min : 	62rem;   // 992 px;
@screen-wide-min  : 	75rem;   // 1200 px
@screen-large-min : 	120rem;  // 1920 px
@pix 											  :  1rem / 16;
@mobile-small-max : 	(@mobile-min - @pix);

// ––––––––––––––––––––––––––––––––– MEDIA QUERIES
// PORTRAIT MODE
@mobile-small     : ~"only screen and (min-width : @{mobile-small-min})";
@mobile           : ~"only screen and (min-width : @{mobile-min})";
@tablet-small  	  : ~"only screen and (min-width : @{tablet-small-min})";
@tablet           : ~"only screen and (min-width : @{tablet-min})";
@screen-small 				: ~"only screen and (min-width : @{screen-small-min})";
@screen-wide      : ~"only screen and (min-width : @{screen-wide-min})";
@screen-large		   : ~"only screen and (min-width : @{screen-large-min})";

// LANDSCAPE MODE
@mobile-small-ls     : ~"only screen and (max-width : 480px) and (orientation : landscape)";
@mobile-ls 					     : ~"only screen and (max-width : 600px) and (orientation : landscape)";
@tablet-small-ls 				: ~"only screen and (max-width : 800px) and (orientation : landscape)";
@tablet-ls 					 				: ~"only screen and (max-width : 1024px) and (orientation : landscape)";

// ––––––––––––––––––––––––––––––––– MEDIA QUERIES STRICT
// @mobile-max       : 	(@tablet-min      - @pix);
// @tablet-max       : 	(@widescreen-min  - @pix);
// @widescreen-max   : 	(@largescreen-min - @pix);
// @mobile-strict     : ~"only screen and (min-width : @{mobile-min})     and (max-width : @{mobile-max})";
// @tablet-strict     : ~"only screen and (min-width : @{tablet-min})     and (max-width : @{tablet-max})";
// @widescreen-strict : ~"only screen and (min-width : @{widescreen-min}) and (max-width : @{widescreen-max})";



